<form name="add-comment-form" id="{{post.user_id}}">
  <div class="mb-3">
    <textarea
      type="text"
      class="form-control"
      id="message"
      placeholder="Type your comment here"
    ></textarea>
  </div>
  <div class="mb-3 d-grid gap-2">
    <button type="submit" class="btn btn-primary mb-3">Post Comment</button>
  </div>
</form>