{{> publicNavbar}}
<div class="position-absolute top-50 start-50 translate-middle w-50 border p-3">
  <h2 class="text-center">Sign Up Form</h2>
  <form id="sign-up-form">
     <div class="mb-3">
      <input type="text" class="form-control" id="first-name" placeholder="Enter first name">
    </div>
     <div class="mb-3">
      <input type="text" class="form-control" id="last-name" placeholder="Enter last name">
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="username" placeholder="Enter username">
    </div>
    <div class="mb-3">
       <div class="mb-3">
      <input type="text" class="form-control" id="email" placeholder="Enter e-mail address">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm password">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>